body {
	background-color: blue;
}


li {
	color: blue;
}
p {
	color: green;
}
.theugliestdivever { 
	background-color: pink
 }
 .the_nastiest_purple_ever h3 {
 	background-color: #8B008B;
 	font-size:52px;
 }
 .light {
 	background-color:lightgrey;
 }
